@import "../../variables.scss";

.cart-container {
  background-color: #fff;
  max-width: 350px;
  padding: 0 20px;
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  max-height: 90vh;
  min-height: 500px;

  &__title {
    margin: 30px 10px 10px 10px;
    font-weight: 900;
    text-align: left;
    width: 290px;
    min-width: 200px;
  }
  &__subtitle {
    margin: 30px 10px;
    text-align: left;
  }
  &__cart-list {
    display: block;
    height: calc(85% - 223px);
    overflow: auto;
  }
}
.cart-totals {
  text-align: right;
  border-top: solid 3px $border-color;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__li--span {
    font-size: 32px;
    font-weight: 700;
    margin-left: 20px;
  }

  &__li__total {
    font-size: 32px;
    font-weight: 700;
    margin-left: 20px;
    color: $primary-purple;
  }
}
li {
  list-style: none;
}

ul > li:first-child {
  padding-top: 30px;
}
ul > li:last-child {
  padding-bottom: 30px;
}
