@import "variables";

#root {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: $fontFamily;
  background-repeat: no-repeat;
  background-position: top right;
  height: 100%;
  gap: 30px;
  flex-wrap: wrap;
  margin: 30px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./images/bg__btm-right.svg") right bottom no-repeat,
    url("./images/bg__left.svg") left top no-repeat,
    url("./images/bg__top-right.svg") top right no-repeat;
}
