/* variables globales */
$bg-color: #eff0f6;
$border-color: #d7d6fc;
$primary-purple: #6b00f5;
$Pattens-Blue: #e1f0fe;
$Pretty-red: #fbe4f0;
$Ghost-White: #f7f7ff;
$White-Ice: #defef0;

$fontFamily: "Poppins", sans-serif;
